* {
  font-family: 'Times New Roman';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(21, 7, 188, 0.802);
}

.image {
  width: 32px;
}

p {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
}

.image-2 {
  width: 128px;
}

.image-3 {
  width: 64px;
  margin: 0 32px 0 32px;
}

.image-4 {
  width: 72px;
}

.nama-obat, .obat-indikasi {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}