* {
  font-family: 'Times New Roman';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(226.49deg, #A5B2CE 3%, #114490 74.35%);


}

.image {
  width: 32px;
}

p {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
}

.image-2 {
  width: 128px;
}

.image-3 {
  width: 64px;
}

.image-4 {
  width: 72px;
}
